/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .containered{
     padding: 0 !important;
     margin-top: 0 !important;
     text-align: left;
     margin: 0px 20px;

 }
 .container{
    padding: 0 !important;
    margin-top: 0 !important;

}

 .alert{
    padding: 0 !important;
    margin: 0 !important;
 }

 nav{
    padding: 0 !important;
    margin: 0 !important;
 }

 a{
     color: #2F4F4F;
 }

 p{
     color: black;
 }

 h3{
     color: brown;
     text-decoration: underline;
     font-size: 2em;
 }

 h2{
    color: #2F4F4F;
 }
 h4{
     color: black;
 }

 body{
    background-image:url('one.png');
    text-align: center;
 }

 .characters{
     display: inline-flex;
     border: 2px solid black;
     margin: 5px;
     padding-right: 45px;
     background-color: #E6E6FA;
     box-shadow:0 0 25px 3px rgb(0, 0, 0);
     border-radius:100px/100px;
     z-index:-1;
 }

 .characters:hover{
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    right: 15px;left: auto;
 }

 .characters li{
    list-style-type: none;
 }